.categorias-card-inicio {
    margin-right: 24px;
}

.categorias-card-inicio img {
    margin-bottom: 12px;
}

.categorias-card-inicio h2 {
    font-size: 12px;
    font-weight: bold;
    color: #121217;
}
