.categorias-card-inicio {
    border: #EBEBEF 1px solid;
    background-color: #FAFAFA;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.categorias-card-inicio:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.categorias-card-inicio img {
    width: auto;
    max-width: 80%;
    height: auto;
    margin-bottom: 12px;
}

.categorias-card-inicio h1 {
    font-size: 12px;
    font-weight: bold;
    color: #121217;
    margin: 0;
}

.div-itens-card-categoria {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
