.categorias-card-inicio {
    margin-right: 24px;
    border: 0;
    background: none;
    transition: 0.2s;
    border-radius: 8px;
    padding: 12px;
}

.categorias-card-inicio:hover {
    background: rgba(18, 18, 23, 20%);
}

.categorias-card-inicio img {
    margin-bottom: 12px;
}

.categorias-card-inicio h2 {
    font-size: 12px;
    font-weight: bold;
    color: #121217;
}
