.card-veiculo-estoque {
    padding: 16px;
    border: 1px solid #EBEBEF;
    background-color: #FAFAFA;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-veiculo-div-estoque {
    margin-bottom: 24px;
}

.card-veiculo-estoque h4 {
    color: #3F3F50;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.card-veiculo-estoque h4 span {
    color: #3F3F50;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.card-veiculo-estoque h2 {
    font-weight: normal;
    font-size: 12px;
    color: #6C6C89;
    margin-bottom: 12px;
}

.card-veiculo-estoque h3 {
    font-weight: normal;
    font-size: 14px;
    color: #3F3F50;
    margin-bottom: 12px;
}

.card-veiculo-estoque h3 span {
    font-weight: 700;
    font-size: 16px;
    color: #3F3F50;
}

.ano-km-div-card-veiculo-estoque {
    display: flex;
    justify-content: space-between;
    color: #6C6C89;
    font-size: 12px;
    font-weight: 400;
}

.ano-km-div-card-veiculo-estoque p {
    display: flex;
}

.icon-card-veiculos-estoque {
    font-size: 18px;
    margin-right: 8px;
}

.button-card-veiculos-estoque {
    width: 100%;
    text-align: center;
    padding: 4px;
    background: #3F3F50;
    border-radius: 8px;
    text-decoration: none;
    color: #FAFAFA;
    font-size: 14px;
    font-weight: 400;
}

.img-logo-card-veiculo {
    padding: 2px 0;
    margin: 2px 0;
    width: auto;
    height: 25px;
}


