.informations-card-inicio {
    border: 1px solid #EBEBEF;
    padding: 16px 24px;
    border-radius: 12px;
    margin: 0 12px;
}

.informations-card-inicio h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 12px 0;
    color: #121217;
}

.informations-card-inicio p {
    font-size: 12px;
    color: #121217;
}
