.image-card-veiculo-estoque {
    margin-bottom: 12px;
    max-width: 100%;
}

.carousel-card {
    width: 100vw;
    height: auto;
}

.div-card-carousel {
    width: 100%;
    height: auto;
    background-color: #fafafa;
}

.div-card-carousel img {
    width: 100%;
}

.carousel-div-card {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

